.responsive-menu-container {
    display: none;
}


.header-container {
    width: 100%;
    height: fit-content;
    position: sticky;
    padding: 25px 0;
}

#main-logo {
    margin-left: var(--WidthMargin);
    display: inline-flex;
}

#main-logo img {
    object-fit: contain;
}

.menu-container, .menu-container * {
    display: inline;
}


.menu-container .list-routes {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 5px;
    position: absolute;
    margin-left: 3vw;

}

.menu-container .list-routes li {
    padding: 5px;
    cursor: pointer;
    color: var(--GrayishViolet);
    font-weight: 500;
    font-size: 1rem;
    font-family: var(--FontFamily);

}

.menu-container .list-routes li:hover {
    color: var(--VeryDarkBlue);
}


/*Buttons*/
.menu-container .log-buttons {
    display: inline-flex;
    gap: 1vw;
    position: absolute;
    right: 0;
    margin-right: var(--WidthMargin);
}

.login-button {
    background: none;
    border: none;
    color: var(--GrayishViolet);
    font-weight: 500;

}

.login-button:hover {
    color: var(--VeryDarkBlue);
    background: none;
}

.signUp-button {
    border-radius: 25px;
    padding: 5px 20px;
}


@media (max-width: 775px) {


    .menu-container {
        display: none;
    }


    .responsive-menu-container {
        display: inline;
    }

    #main-logo {
        margin-left: var(--ResponsiveWidthMargin);
    }
    #button-hamburger{
        display: inline;
        float: right;
        margin-right: var(--ResponsiveWidthMargin);
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    #button-hamburger img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }


    /*menu options*/
    #responsive-menu-options {
        display: none;
        position: absolute;
        top: 80px;
        left: 5%;
        background-color: var(--DarkViolet);
        width: 90%;

        border-radius: 10px;
    }

    #responsive-menu-options ul{
        list-style: none;
        padding: 20px 0px;
        margin: 0 20px ;
        text-align: center;
        border-bottom: 1px solid var(--GrayishViolet);
    }

    #responsive-menu-options ul li{
        color: var(--Gray);
        padding: 10px;
        cursor: pointer;
        border-radius: 20px;

    }
    #responsive-menu-options ul li:hover{
        background-color: var(--VeryDarkViolet);
    }

    #responsive-menu-options .log-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: 20px;
        margin-top: 0;
        padding: 20px 0;

    }

    #responsive-menu-options .log-buttons .login-button,#responsive-menu-options .log-buttons .signUp-button{
        border-radius: 20px;
        padding: 10px;
    }
    #responsive-menu-options .log-buttons .login-button:hover{
        color: var(--Gray);
        background-color: var(--VeryDarkViolet);
    }
}